<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<div>
    <ul>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}" href="#"> Login </a></li>
        <li sec:authorize="hasAuthority('ROLE_BASIC')" ><a th:href="@{/user/list}" href="#"> Lista Básica</a></li>
        <li sec:authorize="hasAuthority('ROLE_ADMIN')" ><a th:href="@{/user/listadmin}" href="#"> Lista Admin</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" href="#"> Logout </a></li>
    </ul>
</div>
</body>
</html>